<div>
  <h2 id="page-heading" data-cy="VaccinationForBabyHeading">
    <span jhiTranslate="gatewayApp.microserviceVaccinationForBaby.home.title">Vaccination For Babies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.microserviceVaccinationForBaby.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vaccination-for-baby"
        [routerLink]="['/vaccination-for-baby/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.microserviceVaccinationForBaby.home.createLabel">Create a new Vaccination For Baby</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (vaccinationForBabies().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.microserviceVaccinationForBaby.home.notFound">No Vaccination For Babies found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vaccine">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.microserviceVaccinationForBaby.vaccine">Vaccine</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numberUse">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.microserviceVaccinationForBaby.numberUse">Number Use</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (vaccinationForBaby of vaccinationForBabies(); track trackId(vaccinationForBaby)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/vaccination-for-baby', vaccinationForBaby.id, 'view']">{{ vaccinationForBaby.id }}</a>
              </td>
              <td [jhiTranslate]="'gatewayApp.VaccineType.' + (vaccinationForBaby.vaccine ?? 'null')">
                {{
                  {
                    null: '',
                    BCG: 'BCG',
                    VGB_SO_SINH: 'VGB_SO_SINH',
                    DPT_VGB_HIB_1: 'DPT_VGB_HIB_1',
                    DPT_VGB_HIB_2: 'DPT_VGB_HIB_2',
                    DPT_VGB_HIB_3: 'DPT_VGB_HIB_3',
                    BAI_LIET_1: 'BAI_LIET_1',
                    BAI_LIET_2: 'BAI_LIET_2',
                    BAI_LIET_3: 'BAI_LIET_3',
                    SOI_1: 'SOI_1',
                    SOI_2: 'SOI_2',
                    DPT_4: 'DPT_4',
                    VNNB_B1: 'VNNB_B1',
                    VNNB_B2: 'VNNB_B2',
                    VNNB_B3: 'VNNB_B3',
                  }[vaccinationForBaby.vaccine ?? 'null']
                }}
              </td>
              <td>{{ vaccinationForBaby.numberUse }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/vaccination-for-baby', vaccinationForBaby.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/vaccination-for-baby', vaccinationForBaby.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(vaccinationForBaby)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (vaccinationForBabies().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
