<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-vaccination-for-baby-heading"
        data-cy="VaccinationForBabyCreateUpdateHeading"
        jhiTranslate="gatewayApp.microserviceVaccinationForBaby.home.createOrEditLabel"
      >
        Create or edit a Vaccination For Baby
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.microserviceVaccinationForBaby.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_vaccine" jhiTranslate="gatewayApp.microserviceVaccinationForBaby.vaccine">Vaccine</label>
          <select class="form-control" name="vaccine" formControlName="vaccine" id="field_vaccine" data-cy="vaccine">
            <option [ngValue]="null">{{ 'gatewayApp.VaccineType.null' | translate }}</option>
            @for (vaccineType of vaccineTypeValues; track $index) {
              <option [value]="vaccineType">{{ 'gatewayApp.VaccineType.' + vaccineType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numberUse" jhiTranslate="gatewayApp.microserviceVaccinationForBaby.numberUse"
            >Number Use</label
          >
          <input type="number" class="form-control" name="numberUse" id="field_numberUse" data-cy="numberUse" formControlName="numberUse" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
